body {
  height: 100dvh;
  margin: 0;
}

header {
  height: 45%;
  display: flex;
  flex-direction: column;
  background-image: url(/assets/headerBg.jpg);
  background-position: center;
}

nav {
  height: 18%;
  display: flex;
  background-color: #ba0928;
}

nav menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
}

nav menu li {
  list-style: none;
}

nav menu li a {
  text-decoration: none;
  color: rgb(247, 242, 242);
  font-size: 24px;
  transition: 0.5s;
}

nav menu li a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

#title-logo {
  height: 82%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#title-logo img {
  width: 350px;
  border: 4px solid #ba0928;
  border-radius: 15px;
  padding: 4px;
  box-shadow: 8px 8px 25px 0px #ba0928;
  margin-left: 25px;
}

#title-logo h1 {
  color: rgb(247, 242, 242);
  font-size: 76px;
  margin-bottom: 20px;
  margin-left: 75px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 27%;
  background-color: #ba0928;
  border-radius: 25% 25% 0 0;
}

footer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  text-decoration: none;
}

footer a img {
  width: 80px;
}

footer a p {
  font-size: 34px;
  color: rgb(247, 242, 242);
  margin-top: 0px;
}

footer p {
  align-self: flex-start;
  margin-left: 20px;
  font-weight: bold;
  font-style: italic;
  padding-top: 15px;
}