header {
  background-image: url(./assets/headerBg.jpg);
}

#main-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#sec1 {
  display: flex;
  justify-content: center;
}

#pres-card {
  width: 50%;
  background-color: rgb(247, 242, 242);
  border-radius: 25px;
  box-shadow: 0 10px 20px;
  margin: 50px;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

#sec2 {
  display: flex;
  justify-content: center;
  background-color: #004aad;
  transform: rotate(-2deg);
  position: relative;
  left: -10px;
  width: 102%;
}

#video-interview {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  gap: 100px;
  margin: 50px;
  transform: rotate(2deg);
}

#sec3 {
  display: flex;
  flex-direction: column;
  margin: 50px;
  align-items: center;
}

#title-posts {
  background-color: rgb(247, 242, 242);
  padding: 20px 50px;
  transform: skew(-30deg);
  border-radius: 2%;
  margin: 50px;
  box-shadow: 2px 2px 8px;
}

#title-posts h1 {
  margin: 0;
  font-size: 56px;
  color: #004aad;
}

#primary-carousel {
  width: 50%;
  height: 420px;
}

#primary-carousel .splide__track {
  box-shadow: 0 4px 10px;
  border-radius: 25px;
}